 /*pc端*/
 @media only screen and (min-device-width: 1000px) {
     .left-dec1 {
         margin: 20vh 15vw;
         display: inline-block;
         position: absolute;
         width: 200px;
         height: 100vh;
         opacity: 0.5;
     }

     #nav {
         position: fixed;
         display: table;
         z-index: 1;
         border-radius: 0.25em;
         height: 50vh;
         width: 40px;
         right: 0;
         top: 25vh;
         background: rgba(242, 242, 242, 0.4);
         transition: all 0.5s;
     }

     #nav:hover {
         width: 110px;
         height: 100vh;
         top: 0;
     }

     #nav ul {
         display: table-cell;
         vertical-align: middle;
         text-align: center;
         list-style: none;
     }

     .nav-btn img {
         width: 70%;
         height: 70%;
     }

     /*button*/
     #p1, #p2, #p3, #p4 {
         position: absolute;
         top: 88vh;
         left: 48vw;
     }

     /*page1*/
     .main-content {
         display: inline-block;
         position: absolute;
         width: 24vw;
         height: 100vh;
         margin: 15vh 38vw;
     }

     #avatar {
         margin-left: 23%;
         animation: ava 1.5s;
     }

     @keyframes ava {
         from {
             opacity: 0.0;
         }

         to {
             opacity: 1.0;
         }
     }

     .main-content .title {
         font-family: '造字工房悦黑体验版 Bold', '造字工房悦黑体验版 常规体', '造字工房悦黑体验版';
         font-weight: 700;
         font-size: 48px;
         color: #0066FF;
         text-shadow: 5px 5px 5px rgba(102, 102, 102, 0.349019607843137);
         margin-top: 30px;
         text-align: center;
         animation: tit 2s;
         animation-timing-function: cubic-bezier(0.95, -0.3, 0.8, 1);
     }

     @keyframes tit {
         from {
             opacity: 0.0;
         }

         to {
             opacity: 1.0;
         }
     }

     .main-content .intro-text {
         font-family: '造字工房悦黑体验版 Bold', '造字工房悦黑体验版 常规体', '造字工房悦黑体验版';
         font-weight: 700;
         font-size: 28px;
         color: #0066FF;
         margin: 40px auto;
         text-align: center;
         animation: intr 3s;
         animation-timing-function: cubic-bezier(0.95, -0.5, 0.8, 1);
     }

     @keyframes intr {
         from {
             opacity: 0.0;
         }

         to {
             opacity: 1.0;
         }
     }

     .main-content .intro-text p {
         margin: 15px auto;
     }

     .right-dec1 {
         display: inline-block;
         position: absolute;
         width: 200px;
         height: 100vh;
         /*10.24*/
         margin: 330px 80vw;
         opacity: 0.5;

     }

     /*page2*/
     #leftbar {
         width: 10px;
         height: 600px;
         background-color: rgba(0, 0, 153, 1);
         border-radius: 8px;
         position: absolute;
         left: 15vw;
         top: 37px;
     }

     #circle {
         position: absolute;
         left: 14.5vw;
         top: 25px;
     }

     #bar1 {
         position: absolute;
         left: 17vw;
         top: 140px;
     }

     #bar2 {
         position: absolute;
         left: 17vw;
         top: 300px;
     }

     #bar3 {
         position: absolute;
         left: 17vw;
         top: 460px;
     }

     .intro1, .intro2, .intro3 {
         position: absolute;
         left: 30vw;
         width: 650px;
         background-color: rgba(127, 213, 237, 1);
         padding: 10px;
         border-radius: 30px;
         font-family: '造字工房悦黑体验版 Bold', '造字工房悦黑体验版 常规体', '造字工房悦黑体验版';
         font-weight: 700;
         font-size: 28px;
         color: #000099;
         line-height: 40px;
     }

     .intro1 {
         top: 125px;
     }

     .intro2 {
         top: 275px;
     }

     .intro3 {
         top: 430px;
     }

     .up-dec2, .middle-dec2, .down-dec2 {
         width: 200px;
         opacity: 0.8;
     }

     .up-dec2 {
         margin: 0 80vw;
     }

     .middle-dec2 {
         margin: 45vh 25vw;
     }

     .down-dec2 {
         margin: -70vh 80vw;
     }

     /*page3*/
     #left {
         position: absolute;
         bottom: 0;
         left: 0;
     }

     #right {
         position: absolute;
         left: 87vw;
     }

     .circles {
         position: absolute;
         width: 574px;
         height: 620px;
         margin: auto 40vw;
     }

     .circles img {
         display: block;
     }

     .yaxis {
         position: absolute;
         width: 574px;
         height: 620px;
         display: block;
         font-size: 18px;
         color: #FF9900;
     }

     .fish {
         position: relative;
         width: 574px;
         height: 620px;
         margin: auto 35vw;
         top: 5%;
         font-size: 18px;
         color: #FF9900;
     }

     .x-text {
         margin-top: -27vh;
     }

     .x-text span {
         margin-left: 30px;
     }

     .x1, .x2, .x3, .x4 {
         display: inline-block;
         width: 50px;
         height: 100%;
         margin-left: 10%;
         margin-bottom: 0;
     }

     /*yaxis*/
     .yaxis {
         position: absolute;
         top: 0;
         margin: 120px 30vw;
     }

     .yaxis ul {
         height: 80%;
     }

     .yaxis li {
         height: 20%;
     }

     .yaxis div {
         width: 100%;
         height: 1px;
         background-color: #aaa;
         z-index: -1;
     }

     #c28, #c30, #c32, #c34 {
         margin-left: -35px;
         margin-bottom: -3px;
     }

     /*page5*/
     .left-dec4, .right-dec4 {
         position: absolute;
         display: inline-block;
         opacity: 0.5;
         width: 30%;
     }

     .left-dec4 {
         top: 100px;
         left: 10vw;
     }

     .right-dec4 {
         top: 300px;
         left: 80vw;
     }

     .right-dec4 img {
         display: block;
     }

     .select-btn {
         position: absolute;
         left: 40vw;
         top: 600px;
         opacity: 0.5;
         display: flex;
         width: 20vw;
         justify-content: space-around;

     }

     .select-btn img {
         opacity: 0.5;
         width: 30px;
         transition: all 0.5s;
     }

     .btn-img {
         height: 40px;
         width: 40px;

     }

     .select-btn img.active {
         width: 35px;
     }

     .middle-anim {
         position: relative;
         width: 432px;
         height: 409px;
         overflow: hidden;
         top: 20%;
     }

     #work {
         font-size: 16px;
         display: flex;
         width: 100%;
         transition: all 1s;
     }

     #work img {
         width: 100%;
     }

     .work-item1, .work-item2, .work-item3 {
         width: 100%;
     }

     .work-item1 {
         color: red;
         display: inline-block;
         line-height: 20px;
     }

     .work-item2 {
         color: blue;
         display: inline-block;
         line-height: 20px;
     }

     .work-item3 {

         color: yellow;
         display: inline-block;
         line-height: 20px;
     }

     #book-title {
         font-size: 28px;
         line-height: 50px;
     }

     #pod-title {
         font-size: 28px;
         line-height: 50px;
     }

     #fm-title {
         font-size: 28px;
         line-height: 50px;
     }

     /*page5*/
     .blank {
         height: 100px;
     }

     .avatar1 {
         margin: 0px 42vw;
     }

     .avatar1 img {
         width: 16vw;
     }

     .words {
         margin: 30px 20vw;
         /*10.24*/
         width: 60vw;
         height: 150px;
         background-image: url(index/u121.png);
         font-size: 20px;
         color: #3399FF;
         text-align: left;
         font-family: 'Arial Normal', 'Arial';
         line-height: normal;
     }

     .words p {
         position: absolute;
         margin-top: 40px;
         width: 60vw;
     }

     .footer-contact {
         margin: 5vh 32vw;
         /*10.24*/
         width: 36vw;
         height: 70px;
         position: absolute;
     }

     .footer-contact li {
         position: absolute;
         bottom: 0;
         width: 85px;
         height: 50px;
         display: inline-block;
         margin: auto 10px auto 10px;
         padding-bottom: 0;

     }

     .footer-contact a {
         height: 100%;
         width: 100%;
         position: relative;
     }

     #li2 {
         left: 130px;
     }

     #li3 {
         left: 270px;
         bottom: -8px;
     }

     #li4 {
         left: 400px;
         position: absolute;
         bottom: -8px;
     }

     #x3, #x4 {
         width: 66px;
     }
 }